<!DOCTYPE html>
<html lang="en">

<head>
  <title>WebTorrent File sharing</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#eee">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="search" href="/opensearch.xml" title="WebTorrent File Sharing" type="application/opensearchdescription+xml">
  <link rel="stylesheet" href="/main.css" charset="utf-8">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>

  <main>

    <a href="/profile">To Profile</a>

    <h1 id="logHeading" style="display: none">Log</h1>
    <div class="speed"></div>
    <div class="log"></div>
    <section>
      <p>
        Drag-and-drop files to begin seeding. Or choose a file:
        <input type="file" name="upload" multiple="multiple" />
      </p>
    </section>
    <section>
      <h1>Start downloading</h1>
      <form>
        <label for="torrentId">Download from a magnet link or info hash</label>
        <input name="torrentId" placeholder="magnet:" required="required" />
        <button type="submit">Download</button>
      </form>
    </section>
  </main>
  <script src="/bundle.js"></script>
  <script>
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    }
    ga.l = +new Date
    ga('create', 'UA-3898076-18', 'auto')
    ga('send', 'pageview')
  </script>
  <script async src="//www.google-analytics.com/analytics.js"></script>

</body>

</html>